# Python
__pycache__/
*.pyc

# Virtualenv
myenv/

# Django stuff
db.sqlite3
/static/

# OS
.DS_Store


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
